In [36]:
import requests
import pandas as pd
from tqdm.notebook import tqdm

In [11]:
url = "https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo="

In [12]:
n = "1"
req = requests.get(url+n)

In [22]:
num_dict = {}
for i in range(45):
    num_dict["{}".format(i+1)] = 0

In [ ]:
num_dict

In [27]:
json_data = req.json()

In [ ]:
json_data

In [29]:
num1 = []
num2 = []
num3 = []
num4 = []
num5 = []
num6 = []
bonus_num = []

In [30]:
for i in range(6):
    n = i+1
    if n == 1:
        num1.append(json_data["drwtNo1"])
    elif n == 2:
        num2.append(json_data["drwtNo2"])
    elif n == 3:
        num3.append(json_data["drwtNo3"])
    elif n == 4:
        num4.append(json_data["drwtNo4"])
    elif n == 5:
        num5.append(json_data["drwtNo5"])
    elif n == 6:
        num6.append(json_data["drwtNo6"])
    else:
        continue

In [31]:
bonus_num.append(json_data["bnusNo"])

In [35]:
num3

[29]

In [37]:
df = pd.DataFrame()

In [40]:
df["round"] = round_num
df["num1"] = num1
df["num2"] = num2
df["num3"] = num3
df["num4"] = num4
df["num5"] = num5
df["num6"] = num6
df["bonus"] = bonus_num

In [41]:
df

   num1  num2  num3  num4  num5  num6  bonus
0    10    23    29    33    37    40     16